:root {
    --font: 'Open Sans', sans-serif;
    --dark: rgb(40, 39, 42);
    --light: rgb(231, 215, 231);
    --error: lightcoral;
    --success: lightgreen;
}
body {
    font-size: 1.2rem;
    font-family: var(--font);
    background-color: var(--dark);
    color: var(--light);
}

#messages {
    position: fixed;
    top: 20px;
    right: 50px;
    display: grid;
    grid-template-columns: 1fr;
}

.error,
.success {
    opacity: 0;
    padding: 10px 50px;
    font-size: 1.2em;
    color: var(--dark);
    background-color: var(--error);
    transition-duration: 1s;
}

.success {
    background-color: var(--success);
}

section {
    padding: 1.5em;
}

form {
    margin: 30px auto;
}

input,
button,
select {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1em;
    color: var(--light);
    background-color: transparent;
    border: 1px solid var(--light);
    border-radius: 4px;
}

select {
    height: 50px;
}

button {
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 15px 40px;
    cursor: pointer;
    transition-duration: 1s;
}

button.invert {
    color: var(--dark);
    border: 2px solid var(--dark);
}

button:hover {
    background-color: var(--light);
    color: var(--dark);
}

button.invert:hover {
    background-color: var(--dark);
    color: var(--light);
}

.form-line {
    display: flex;
    gap: 1em;
    margin: 10px 0;
}

.form-input {
    display: flex;
    flex-direction: column;
}

#result-section {
    background-color: var(--light);
    color: var(--dark);
}

table {
    color: var(--light);
}

table button {
    margin: 10px auto;
    padding: 10px;
    width: fit-content;
    color: var(--light);
    border: none;
}

table button:hover,
table tr:nth-child(odd) button:hover {
    background-color: var(--error);
    color: var(--dark);
}

.material-symbols-outlined {
    font-size: 1.5em;
}

th {
    background-color: var(--dark);
    padding: 20px;
}

td {
    padding: 0 20px;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: rgb(81, 69, 79);
}

table tr:nth-child(even) {
    background-color: rgb(66, 57, 64);
}

.total {
    font-size: 2em;
}

.total::after {
    content: " h";
}

#clear-all {
    display: none;
}


